<h1>App Component</h1>
<div class="global-container">
  <aside>
    <ul id="parent-menu">
      <li>
        <a [routerLink]="['/parent', 'single']" routerLinkActive="router-link-active">Parent single</a>
      </li>
      <li>
        <a [routerLink]="['/parent', 'service']" routerLinkActive="router-link-active">Parent service</a>
      </li>
    </ul>
    <ul id="child-menu">
      <li>
        <a [routerLink]="['/child', 'single']" routerLinkActive="router-link-active">Child single</a>
      </li>
      <li>
        <a [routerLink]="['/child', 'custom']" routerLinkActive="router-link-active">Child custom</a>
      </li>
      <li>
        <a [routerLink]="['/child', 'service']" routerLinkActive="router-link-active">Child service</a>
      </li>
    </ul>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
